.dropdown {
    position: absolute;
    right: 20px;
    top: 4rem;
    display: flex;
    flex-direction: column;
    background-color: #9E9885;
    padding: 10px 20px;
    border-radius: 6px;
    a {
        color: #CFC7D2;
        text-decoration: none;
        margin: 5px;
        &:hover {
            color: #a0a0a0;
        }
    }
}
